@page "/"
@using MyTodoApp.Models
@using MyTodoApp.Components

<h1>My Todos</h1>

@foreach (var todo in Todos)
{
    <IndividualTodo Todo="@todo"></IndividualTodo>
}


@code{
    private List<Todo> Todos { get; set; } = new List<Todo>();
    
    protected override void OnInitialized()
    {
        for (var i = 1; i <= 100; i++)
        {
            Todos.Add(new Todo
            {
                Id = i,
                Description = $"My Todo Nr. : {i}",
                DateAdded = DateTime.Today.AddDays(-i),
                DueDate = DateTime.Today.AddDays(i),
                Priority = 1
            });
        }
        base.OnInitialized();
    }
}