@page "/todo-home"
@inject IRepository<TodoList> TodoListRepository

<div class="row">
    <div class="col-md-3">
        <p>My lists</p>

        <AddNewList ListAdded="@RefreshList"></AddNewList>

        @if (TodoLists == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <SfListView DataSource="@TodoLists" CssClass="sflist">
                <ListViewFieldSettings TValue="TodoList" Id="Ident" Text="Name"></ListViewFieldSettings>
            </SfListView>
        }
    </div>
    <div class="col-md-7">
        <p>My todos</p>
    </div>
    <div class="col-md-2">
        <p>maybe some options</p>
    </div>
</div>


@code{
    private List<TodoList> TodoLists { get; set; }

    protected override Task OnInitializedAsync()
    {
        TodoLists = TodoListRepository.GetAll();
        return base.OnInitializedAsync();
    }

    void RefreshList(bool added)
    {
        TodoLists = TodoListRepository.GetAll();
    }

}

<style>
    .sflist{
    margin: 10px 0px    
    }
</style>